{% extends "base.html" %}
{% load static %}

{% block title %}
Reviews page
{% endblock title %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "reviews/review.css" %}">
{% endblock css_files %}

{% block content %}
   

<form action="/" method='POST' >
    {% csrf_token %}
    {% for field in form  %}
    <div class = "form-control {% if field.errors %}errors{% endif %}">
    {{field.label_tag}}
    {{field}}
    {{field.errors}}
    </div>
    {% endfor %}

    <button type="submit">Send</button>
</form>


<div>
     <h1><a href="{% url "reviews_page" %}">All Reviews</a></h1>
</div>
{% endblock content %}