
{% extends "base.html" %}
{% load static %}


    {% block page_title %}
     Monthly Challenges - {{challenge_month | title }}
    {% endblock page_title %}

    {% block css_files %}
    <link rel="stylesheet" href="{% static 'challenges/challenge.css' %}"/>
    {% endblock css_files %} 
   
    {% block content %}
    {% include "challenges/includes/header.html" with active_page="challenge"%}
       <h1>{{challenge_month | title}}</h1>
    {% if challenge_text == None %}
        <h2> There is no challenge is decided for this month yet</h2>
    {% else %}
              <h2>{{challenge_text}}</h2>
    {% endif %}
    {% endblock content %}
 
  
